.box {
    width: 300px;
    height: 300px;
    border: 2px solid red;
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    overflow-y: auto;
}

.ellipsis {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-overflow: clip; */
    border: 1px solid violet;
}

/* #box-1 {
    overflow: hidden; 
    overflow: scroll;
    overflow-x: hidden;
} */